<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <br />
    <h3>Create New Listing:</h3>
    <form
      method="POST"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="eg. Floating Villa"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks Good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="write description about it"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter short description</div>
      </div>

      <!-- <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          type="text"
          name="listing[image]"
          placeholder="eg. https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWKJdW6udVSi9ZDNRtoQvQEoQHxOmT6Z6JnZeXtoiR3K76tswozeKiSlnyqFXOm7R87RE&usqp=CAU"
          class="form-control"
        />
      </div> -->

      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input type="file" name="listing[image]" class="form-control" />
        required
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="eg. 1500"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            placeholder="eg. Goa"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          name="listing[country]"
          placeholder="eg. India"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Country should be valid</div>
      </div>

      <button class="btn btn-dark add-btn">Create Listing</button>
      <br /><br />
    </form>
  </div>
</div>
